.form, label, input, button {
    margin: 1rem;
} 

.form {
    display: block;
    width: 50vw;
}

.form .units {
    margin-left: 0;
    padding-left: 0;
}

.form input {
    margin-right: 0;
    padding-right: 0;
}

.results p {
    position: relative;
    left: 25%;
    font-weight: bolder;
}